CRUDUsuarioSOAP/WebContent/wsdl/UsuarioService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://services.dswii.cibertec.edu.pe" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://services.dswii.cibertec.edu.pe" xmlns:intf="http://services.dswii.cibertec.edu.pe" xmlns:tns1="http://bean.dswii.cibertec.edu.pe" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://services.dswii.cibertec.edu.pe" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://bean.dswii.cibertec.edu.pe"/>
   <element name="insertar">
    <complexType>
     <sequence>
      <element name="usuario" type="xsd:string"/>
      <element name="clave" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="insertarResponse">
    <complexType>
     <sequence>
      <element name="insertarReturn" type="tns1:UsuarioBean"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://bean.dswii.cibertec.edu.pe" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="UsuarioBean">
    <sequence>
     <element name="clave" nillable="true" type="xsd:string"/>
     <element name="idUsuario" nillable="true" type="xsd:int"/>
     <element name="usuario" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="insertarRequest">

      <wsdl:part element="impl:insertar" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="insertarResponse">

      <wsdl:part element="impl:insertarResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="UsuarioService">

      <wsdl:operation name="insertar">

         <wsdl:input message="impl:insertarRequest" name="insertarRequest">

       </wsdl:input>

         <wsdl:output message="impl:insertarResponse" name="insertarResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="UsuarioServiceSoapBinding" type="impl:UsuarioService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="insertar">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="insertarRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="insertarResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="UsuarioServiceService">

      <wsdl:port binding="impl:UsuarioServiceSoapBinding" name="UsuarioService">

         <wsdlsoap:address location="http://localhost:8080/CRUDUsuarioSOAP/services/UsuarioService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
